<div class="pt-6">
  @if(serverError){
    <p-message severity="error" icon="pi pi-exclamation-triangle" [text]="serverError" styleClass="w-full mb-4"></p-message>
  }
  <p-card class="shadow-2xl">
    <form [formGroup]="stationForm" (ngSubmit)="onSubmit()" class="space-y-4">
      <div class="flex items-center justify-between p-0 border-b border-gray-200 pb-2">
        @if (isUpdatingStation) {
          <h1 class="text-2xl font-bold">Update Station with ID: {{ id }}</h1>
        } @else {
          <h1 class="text-2xl font-bold">Create Station</h1>
        }
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-3">

        <div class="space-y-4 md:col-span-2">
          <div class="grid grid-cols-2 gap-3">
            <div class="relative">
              <p-floatlabel class="w-full" variant="on">
                <input [class]="'w-full'" formControlName="name" pInputText id="name_label" autocomplete="off"/>
                <label for="name_label">Station Name</label>
              </p-floatlabel>
              @if (errors['name']) {
                <p-message
                  severity="error"
                  text="{{ errors['name'] }}"
                ></p-message>
              }
            </div>

            <div class="relative">
              <p-floatlabel class="w-full" variant="on">
                <input [class]="'w-full'" formControlName="abbreviation" pInputText id="abbreviation_label"
                       autocomplete="off"/>
                <label for="abbreviation_label">Abbreviation</label>
              </p-floatlabel>
              @if (errors['abbreviation']) {
                <p-message
                  severity="error"
                  text="{{ errors['abbreviation'] }}"
                ></p-message>
              }
            </div>
          </div>
          <div class="grid grid-cols-2 gap-3">
            <div class="relative">
              <p-float-label variant="on" class="w-full">
                <p-input-number
                  formControlName="latitude"
                  inputId="lat_label"
                  class="w-full"
                  [inputStyleClass]="'w-full'"
                  styleClass="w-full"
                >
                </p-input-number>
                <label for="lat_label" class="text-gray-600">Latitude</label>
              </p-float-label>
              @if (errors['latitude']) {
                <p-message
                  severity="error"
                  text="{{ errors['latitude'] }}"
                ></p-message>
              }
            </div>
            <div class="relative">
              <p-float-label variant="on" class="w-full">
                <p-input-number
                  formControlName="longitude"
                  inputId="long_label"
                  class="w-full"
                  [inputStyleClass]="'w-full'"
                >
                </p-input-number>
                <label for="long_label" class="text-gray-600">Longitude</label>
              </p-float-label>
              @if (errors['longitude']) {
                <p-message
                  severity="error"
                  text="{{ errors['longitude'] }}"
                ></p-message>
              }
            </div>
          </div>
        </div>
      </div>
      <div class="flex justify-end items-center space-x-4 pt-3 border-t border-gray-200">
        <p-button
          routerLink="/stations"
          label="Cancel"
          icon="pi pi-times"
          styleClass="p-button-secondary"
        ></p-button>
        @if (isUpdatingStation) {
          <p-button
            label="Update"
            type="submit"
            icon="pi pi-save"
            styleClass="p-button-primary"
          ></p-button>
        } @else {
          <p-button
            [disabled]="stationForm.invalid"
            label="Create"
            type="submit"
            icon="pi pi-save"
            styleClass="p-button-primary"
          ></p-button>
        }
      </div>
    </form>
  </p-card>
</div>

