<div class="pt-6">
  @if(serverError){
    <p-message severity="error" icon="pi pi-exclamation-triangle" [text]="serverError" styleClass="w-full mb-4"></p-message>
  }
  <p-card class="shadow-2xl">
    <form class="space-y-4" [formGroup]="routeForm">
      <div class="flex items-center justify-between p-0 border-b border-gray-200 pb-2">
        @if (isDetailsView) {
          <h1 class="text-2xl font-bold">Details for Route with ID: {{ id }}</h1>
        } @else {
          <h1 class="text-2xl font-bold">Create Route</h1>
        }
      </div>

      <div class="space-y-4 pb-3">
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-3">
          <div class="relative">
            <p-float-label variant="on" class="w-full">
              <p-input-number
                formControlName="routeNumber"
                inputId="routeNr_label"
                class="w-full"
                [inputStyleClass]="'w-full'"
                styleClass="w-full"
              >
              </p-input-number>
              <label for="routeNr_label" class="text-gray-600">Route Number</label>
            </p-float-label>
            @if (errors['routeNumber']) {
              <p-message
                severity="error"
                text="{{ errors['routeNumber'] }}"
              ></p-message>
            }
          </div>

          <div class="relative">
            <p-float-label variant="on" class="w-full">
              <p-datepicker
                formControlName="validFrom"
                [showIcon]="true"
                inputId="fromDateLabel"
                styleClass="w-full"
                [inputStyleClass]="'w-full'"
              ></p-datepicker>
              <label for="fromDateLabel" class="text-gray-600">Operates From Date</label>
            </p-float-label>
            @if (errors['validFrom']) {
              <p-message
                severity="error"
                text="{{ errors['validFrom'] }}"
              ></p-message>
            }
          </div>

          <div class="relative">
            <p-float-label variant="on" class="w-full">
              <p-datepicker
                formControlName="validTo"
                [showIcon]="true"
                inputId="toDate"
                styleClass="w-full"
                [inputStyleClass]="'w-full'"
              >
              </p-datepicker>
              <label for="toDate" class="text-gray-600">
                Operates Until Date
              </label>
            </p-float-label>
            @if (errors['validTo']) {
              <p-message
                severity="error"
                text="{{ errors['validTo'] }}"
              ></p-message>
            }
          </div>
          <div>
            <h5 class="text-lg font-semibold mb-3">Operating Days</h5>
            <div class="flex flex-wrap gap-4">
              <div class="flex align-items-center">
                <p-checkbox inputId="weekDays" binary="true" formControlName="weekDays"></p-checkbox>
                <label for="weekDays" class="ml-2"> Weekdays </label>
              </div>
              <div class="flex align-items-center">
                <p-checkbox inputId="weekends" formControlName="weekends" binary="true"></p-checkbox>
                <label for="weekends" class="ml-2"> Weekends </label>
              </div>
              <div class="flex align-items-center">
                <p-checkbox inputId="publicHolidays" formControlName="publicHolidays" binary="true"></p-checkbox>
                <label for="publicHolidays" class="ml-2"> Public Holidays </label>
              </div>
              <div class="flex align-items-center">
                <p-checkbox inputId="schoolHolidays" formControlName="schoolHolidays" binary="true"></p-checkbox>
                <label for="schoolHolidays" class="ml-2"> School Holidays </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
    @if (!isDetailsView) {
      <div>
        <h5 class="text-lg font-semibold mb-3">Select Stations</h5>
        <form class="grid grid-cols-1 md:grid-cols-3 sm:grid-cols-2 gap-3 w-3/4 mb-3" [formGroup]="addStopForm">
          <div>
            <p-float-label variant="on" class="w-full">
              <p-auto-complete
                class="ng-invalid ng-dirty"
                [suggestions]="stationForSearch"
                (completeMethod)="filterStation($event)"
                formControlName="station"
                inputId="station"
                optionLabel="name"
                [dropdown]="true"
                styleClass="w-full"
              >
                <ng-template let-station #item>
                  <div class="flex flex-col">
                    <span class="font-medium">{{ station.name }}</span>
                    <span class="text-sm text-gray-600">{{ station.abbreviation }}</span>
                  </div>
                </ng-template>
              </p-auto-complete>
              <label for="station" class="text-gray-600">Station</label>
            </p-float-label>
            @if (errors['station']) {
              <p-message
                severity="error"
                text="{{ errors['station'] }}"
              ></p-message>
            }
          </div>
          <div>
            <p-float-label variant="on" class="w-full">
              <p-date-picker
                formControlName="departureTime"
                [timeOnly]="true"
                [showIcon]="true"
                inputId="departureTime"
                styleClass="w-full"
                [inputStyleClass]="'w-full'"
              >
                <ng-template pTemplate="inputicon">
                  <i class="pi pi-clock"></i>
                </ng-template>
              </p-date-picker>
              <label for="departureTime" class="text-gray-600">
                Departure Time
              </label>
            </p-float-label>
            @if (errors['departureTime']) {
              <p-message
                severity="error"
                text="{{ errors['departureTime'] }}"
              ></p-message>
            }
          </div>
          <div>
            <p-button
              [disabled]="addStopForm.invalid"
              (click)="onAddStation()"
              label="Add"
              icon="pi pi-plus"
              styleClass="p-button-primary mt-0.5"
            ></p-button>
          </div>
        </form>
      </div>
    }
    <p-card>
      <h5 class="text-lg font-semibold mb-3 ">Route stops order</h5>
      <p-table
        [value]="routeWithRouteStops.routeStops"
        [styleClass]="'p-datatable-sm'"
        stripedRows
      >
        <ng-template pTemplate="header">
          <tr>
            <th>Station Order</th>
            <th>Station</th>
            <th>Departure Time</th>
            @if (!isDetailsView) {
              <th>Actions</th>
            }
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-stop>
          <tr>
            <td>
              {{ stop.stationOrder }}
            </td>
            <td>
              {{ getStationName(stop.stationId) }}
            </td>
            <td>
              {{ stop.departureTime | date: 'HH:mm' }}
            </td>
            @if (!isDetailsView) {
              <td>
                <p-button
                  (click)="onRemoveStation(stop)"
                  icon="pi pi-trash"
                  styleClass="p-button-danger"
                ></p-button>
              </td>
            }
          </tr>
        </ng-template>
      </p-table>
      @if (errors['routeStops']) {
        <p-message
          severity="error"
          text="{{ errors['routeStops'] }}"
        ></p-message>
      }
    </p-card>

    @if (errors['formError']) {
      <p-message
        severity="error"
        text="{{ errors['formError'] }}"
      ></p-message>
    }

    <div class="flex justify-end items-center space-x-4 pt-3 border-t border-gray-200">
      <p-button
        routerLink="/routes"
        label="Cancel"
        icon="pi pi-times"
        styleClass="p-button-secondary"
      ></p-button>
      @if (isDetailsView) {
      } @else {
        <p-button
          [disabled]="routeForm.invalid"
          (onClick)="onSubmit()"
          label="Create Route"
          type="submit"
          icon="pi pi-save"
          styleClass="p-button-primary"
        ></p-button>
      }
    </div>
  </p-card>
</div>

