<div class="pt-2">
  <div class="bg-white shadow p-2 rounded-xl">
    <div class="flex gap-3">
      <div class="content-center border-r border-gray-200">
        <div class="flex flex-col pr-2">
          <span class="font-bold">{{ connection.subConnections[0].departureTime.substring(0, 5) }}
            @if (connection.subConnections[0].delayInMinutes / 60 > 1) {
              <span
                class="text-red-500 text-sm">+{{ (connection.subConnections[0].delayInMinutes / 60).toFixed(0) }}</span>
            }
          </span>
          <span class="text-sm text-gray-600">Departure</span>
        </div>
      </div>
      <div class="w-full">
        <div class="flex gap-3">
          @for (subcon of connection.subConnections; track subcon.routeId) {
            <div class="w-full flex justify-between">
              @if (subcon === connection.subConnections[0]) {
                <div></div>
              } @else {
                <div>
                  <span> <span class="text-sm text-gray-600">Departure:</span>
                      <span> {{ subcon.departureTime.substring(0, 5) }}
                        @if (subcon.delayInMinutes / 60 > 1) {
                          <span class="text-red-500 text-sm">+{{ (subcon.delayInMinutes / 60).toFixed(0) }}</span>
                        }
                      </span>
                    </span>
                </div>
              }
              <p-tag icon="pi pi-car" severity="info" value="{{subcon.routeNr}}"></p-tag>
              @if (subcon === connection.subConnections[connection.subConnections.length - 1]) {
                <div></div>
              } @else {
                <div>
                  <span> <span class="text-sm text-gray-600">Arrival:</span>
                      <span> {{ subcon.arrivalTime.substring(0, 5) }}
                        @if (subcon.delayInMinutes / 60 > 1) {
                          <span class="text-red-500 text-sm">+{{ (subcon.delayInMinutes / 60).toFixed(0) }}</span>
                        }
                       </span>
                  </span>
                </div>
              }
            </div>
          }
        </div>
        <p-timeline [value]="timelineEvents" layout="horizontal">
        </p-timeline>
        <div class="flex-row text-xs pt-3">
          <div>
            <span>from <span class="font-black">{{ fromStation.name }}</span></span>
          </div>
          <div>
            <span>to <span class="font-black">{{ toStation.name }}</span></span>
          </div>
        </div>
      </div>
      <div class="content-center border-l border-gray-200">
        <div class="flex flex-col pl-2">
          <span
            class="font-bold">{{ connection.subConnections[connection.subConnections.length - 1].arrivalTime.substring(0, 5)}}
            @if (connection.subConnections[connection.subConnections.length - 1].delayInMinutes / 60 > 1) {
              <span
                class="text-red-500 text-sm">+{{ (connection.subConnections[connection.subConnections.length - 1].delayInMinutes / 60).toFixed(0) }}</span>
            }
          </span>
          <span class="text-sm text-gray-600">Arrival</span>
        </div>
      </div>
    </div>
  </div>
</div>
